@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    min-width: 100vh;
    height: 100%;
}

.container {
    max-width: 1200px;
    min-width: 100vh;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 45%;
    margin-block: 20px;
}

.container h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--text-secondary);
}

.container h2 span {
    color: var(--accent-primary) !important;
}

.container h2 span:hover {
    color: var(--accent-hover) !important;
}

.container p {
    font-size: 1.2rem;
    color: var(--text-secondary);
}

.key-check-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.key-check-form #key {
    width: 50%;
    max-width: 600px;
    min-height: 120px;
    height: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;

}

.key-check-form button {
    padding: 10px 60px;
    font-size: 1.2rem;
    background-color: var(--accent-primary);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.key-check-form button:hover {
    background-color: var(--accent-hover);
}

.result {
    width: 50%;
    max-height: 250px;
    height: 100%;
    overflow-y: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}

.result .result__title{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: var(--text-secondary);
    margin-bottom: 10px;
}

.result__chave__key {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--border-color);
    padding-inline: 10px;
    margin-bottom: 1rem;
}

.result__chave__key .left{
    width: 50%;
    display: flex;
    align-items: center;
}

.result__chave__key .left i{
    margin-right: 10px;
    color: var(--color);
}

.result__chave__key .right button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: var(--accent-primary);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color0.3s ease;
    -webkit-transition: background-color0.3s ease;
    -moz-transition: background-color0.3s ease;
    -ms-transition: background-color0.3s ease;
    -o-transition: background-color0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

footer{
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    margin-top: 2rem;
}